{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true,
    "commonjs": true,
    "node": true,
    "es6": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion": 6
  },
  "rules": {
    "react/jsx-filename-extension": [2, { "extensions": [".js"] }],
    "react/prefer-stateless-function": [0],
    "semi": ["error", "never"],
    "spaced-comment": [0],
    "no-console": [0],
    "radix": [0],
    "no-return-assign": [0],
    "no-mixed-operators": [0],
    "no-nested-ternary": [0],
    "jsx-a11y/media-has-caption": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "jsx-a11y/anchor-is-valid": 0,
    "import/no-extraneous-dependencies": [0],
    "import/prefer-default-export": [0],
    "react/prop-types": [0],
    "no-param-reassign": [0],
    "no-confusing-arrow": [0]
  }
}
